@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.overlay{
    background-color: #c79237c9;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.txt-line{
    width: 100px;
    height: 5px;
    background-color: #c79237c9;
    position: relative;
    left: 46.8%;
}

.overlay1{
    background-color: #2f2e2dc9;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay2{
    background-color: #2d3b2ad4;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.curl{
    font-family: 'Dancing Script', cursive;
}

.lg{
    font-size: 50px;
}

/*header*/

#header{
    background-color: #000;
    color: #fff;
}

.container{
    max-width: 90vw;
    margin: auto;
}

#header-contact{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    font-size: 14px;
}

#header-contact #header-left{
    display: flex;
}

#header-contact #header-left p{
    margin-right: 10px;
}

#header-right a{
    color: #fff;
    margin-right: 15px;
    transition: all ease-in-out 0.5s;
}

#header-right a:hover{
    color: rgba(187, 185, 185, 0.5);
}

/*Navbar*/
#logo a{
    color: #fff;
}

#logo h1{
    font-size: 40px;
}

#navbar{
    background-color: rgb(232 166 0 / 90%);
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    color: #fff;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list li{
    margin-right: 20px;
}

.nav-list li a{
    color: #fff;
    transition: all ease-in-out 0.5s;
    display: inline-block;
}

.nav-list li a:hover{
    font-weight: bolder;
}

/*slider*/
.img-show{
    width: 100vw;
}

.carousel{
   margin-bottom: 70px;
}

.bg1{
    background-image: url("/img/c4.jpg");
}

.bg2{
    background-image: url("/img/c5.jpg");
}

.bg3{
    background-image: url("/img/c6.jpg");
}

.bg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    margin-right: 30px;
    position: relative;
}

.bg h1{
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}

.img-show .row{
    width: 100.8vw;
    margin-bottom: 50px;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.who-we-are{
    margin: 80px 0px;
}

.who-we-are .heading{
    text-align: center;
}

.heading-txt{
    text-align: center;
    color: #a1a1a1;;
}


@media only screen and (max-width: 890px) {
    .image-row .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 17px;
        grid-row-gap: 12px;
    }

    .bg h1{
        font-size: 16px;
    }

    
    .txt-line{
        left: 43%;
    }
}

@media only screen and (max-width: 660px) {
    .image-row .row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 17px;
        grid-row-gap: 12px;
    }

    .item1,.item2{
        display: none;
    }
}

@media only screen and (max-width: 590px) {
    .txt-line{
        left: 40%;
    }
}

@media only screen and (max-width: 525px) {
    #header-contact{
        flex-direction: column;
    }
    
    #header-right{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .navbar-content{
        flex-direction: column;
    }
}

@media only screen and (max-width: 320px) {
    .navbar-content{
        flex-direction: column;
    }

    .nav-list li a{
        font-size: 11px;
    }
}

@media only screen and (max-width: 390px){
    #header-contact{
        font-size: 11px;
    }
}

@media only screen and (max-width: 312px){
    #header-contact #header-left{
        display: none;
    }

    #header-contact{
        font-size: 14px;
    }

    #header-right{
        margin-top: 0px;
    }
    
}

@media only screen and (max-width: 250px){
    .nav-list{
        display: flex;
        flex-direction: column;
    }

    .nav-list li a{
        font-size: 14px;
    }
}